<!DOCTYPE html>
<head>
    <title>{{ info.title }}{% if info %} - {% endif %}Bilibili API</title>

    <meta charset="utf-8" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet" href="https://static.hdslb.com/account-pc/css/style.min.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    {% if type == "info" %}
    {% endif %}
    {% for css in styles %}
    <link type="text/css" rel="stylesheet" href="css/{{ css }}.css" />
    {% endfor %}
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/skel.min.js"></script>
</head>

<body {% if isSubpage %} class="subpage" {% endif %}>
    <nav id="mainNav" class="navbar navbar-default">
        <header id="header" {% if isIndex %} class="alt" {% endif %}>
            <div class="logo"><a href="/">Bilibili <span>API</span></a></div>
            <a href="#menu">Menu</a>
        </header>

        <nav id="menu">
            <ul class="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>
    </nav>

    {% block body %}
    {% endblock %}
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    {% for script in scripts %}
    <script src="scripts/{{ script }}.js"></script>
    {% endfor %}
</body>
