{% extends "base.html" %}

{% block body %}

    <!-- Main -->
    <div id="main">

        {% if errorCode %}
        {% include "conn_fail.html" %}
        {% else %}
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2 id="title">[UP用户名]</h2>
                    <p id="subtitle">[UP UID]</p>
                </header>
                <div class="flex flex-2">
                        <h4><a href="userfollowing?uid=1740539">关注 {{ following }}</a> | 
                            <a href="userfollower?uid=1740539">粉丝{{ follower }}</a></h4>
                        <table id="stat">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>签名</th>
                                    <th>注册时间？</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data.list %}
                                <tr>
                                    <td>{{ item.mid }}</td>
                                    <td>{{ item.uname }}</td>
                                    <td>{{ item.sign }}</td>
                                    <td>{{ item.mtime }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </section>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

{% endblock %}
