{% extends "base.html" %}

{% block body %}

    <input type="hidden" id="type" value="{{ type }}">
    <input type="hidden" id="uid" value="{{ uid }}">
    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2 id="title">Loading username</h2>
                    <p id="subtitle">{{ uid }}</p>
                </header>
                <div class="flex flex-2">
                    <h4>
                        <span>
                            <a href="user?uid={{ uid }}">视频 <span id="video">Loading</span></a> | 
                            <a href="userfollowing?uid={{ uid }}">关注 <span id="following">Loading</span></a> | 
                            <a href="userfollower?uid={{ uid }}">粉丝<span id="follower">Loading</span></a>
                        </span>
                    </h4>
                    <p>若数量大于500，则只显示前500个。</p>
                    <table id="stat">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户名</th>
                                <th style="min-width: 100px">关注时间</th>
                                <th>签名</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

{% endblock %}
