{% extends "base.html" %}

{% block body %}

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h1>av{{ data.data.aid }}</h1>
                    <p>Some text here.</p>
                </header>
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Title</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, item in data.data %}
                                <tr>
                                    <td>{{key}}</td>
                                    <td>{{item}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="images/pic02.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
