{% extends "base.html" %}

{% block body %}

    <input type="hidden" id="uid" value={{ uid }}>
    <input type="hidden" id="type" value="{{ type }}">

    <!-- Main -->
    <div id="main">

        {% if errorCode %}
        {% include "conn_fail.html" %}
        {% else %}
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2 id="title">[UP用户名]</h2>
                    <p id="subtitle">User ID: {{ uid }}</p>
                </header>
                <div class="flex flex-2">
                    <h4>
                        <span>
                            <a href="user?uid={{ uid }}">视频 <span id="video">Loading</span></a> |
                            <a href="userfollowing?uid={{ uid }}">关注 <span id="following">Loading</span></a> |
                            <a href="userfollower?uid={{ uid }}">粉丝<span id="follower">Loading</span></a>
                        </span>
                    </h4>
                    <table id="stat">
                        <thead>
                            <tr>{% if type == "video" %}
                                <th>av号</th>
                                <th>标题</th>
                                <th style="min-width: 100px">上传时间</th>
                                <th>时长</th>
                                <th>播放量</th>
                                <th>分类</th>
                                <th>评论</th>
                                <th>收藏</th>
                                {% elif type == "followings" or type == "followers" %}
                                <th>ID</th>
                                <th>用户名</th>
                                <th style="min-width: 100px">关注时间</th>
                                <th>签名</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

{% endblock %}
