{% extends "base.html" %}

{% block body %}

    <input type="hidden" id="uid" value={{ uid }}>
    <input type="hidden" id="type" value="{{ type }}">

    <!-- Main -->
    <div id="main">

        {% if errorCode %}
        {% include "conn_fail.html" %}
        {% else %}
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2 id="title">Loading</h2>
                    <p id="subtitle">User ID: {{ uid }}</p>
                </header>
                <h4>
                    <span>
                        <a href="user?uid={{ uid }}">主页</a> |
                        <a href="uservideo?uid={{ uid }}">视频 <span id="video">Loading</span></a> |
                        <a href="userfollowing?uid={{ uid }}">关注 <span id="following">Loading</span></a> |
                        <a href="userfollower?uid={{ uid }}">粉丝<span id="follower">Loading</span></a>
                    </span>
                </h4>
                <div class="flex flex-2">
                    {% if type == "info" %}
                    <div class="col col1">
                    {% endif %}

                    {% if type == "followings" or type == "followers" %}若数量大于500，则仅显示前500个结果。
                    {% endif %}
                    <table id="stat">
                        <thead>
                            <tr>{% if type == "video" %}
                                <th>av号</th>
                                <th>标题</th>
                                <th style="min-width: 100px">上传时间</th>
                                <th>时长</th>
                                <th>播放量</th>
                                <th>分类</th>
                                <th>评论</th>
                                <th>收藏</th>
                                {% elif type == "followings" or type == "followers" %}
                                <th>ID</th>
                                <th>用户名</th>
                                <th style="min-width: 100px">关注时间</th>
                                <th>签名</th>
                                {% elif type == "info" %}
                                <th>项目</th>
                                <th>数据</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    {% if type == "info" %}
                    </div>
                    <div class="col col2">
                        <div>
                            <span class="image left round fit"style="max-width:100px; margin-right: 32px">
                                <img id="upAvatar" src="" alt="Loading">
                            </span>
                            <span id="upName">Loading</span><br>
<span class="h-level-all"><span style="background-position: -264px -852px" class="h-level-head">LV4</span><span class="h-level-up">进度条<span style="width:50.11111111111111%;" class="h-level-upgo"></span></span></span>

                            <span class="level-all">
                                <span style="background: url(/images/icons_m.png);background-position: -264px -852px;"
                                      class="level-head" >LV4</span>
                                <span class="level-full">进度条
                                    <span class="level-current" style="width: 100px"></span>
                                </span>
                            </span>
                        </div>
                        <span id="upSign">Loading</span><br>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

{% endblock %}
