{% extends "base.html" %}

{% block body %}

    <input type="hidden" id="aid" value="{{data.data.aid}}" />

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2 id="title">Loading...</h2>
                    <p><span>av{{ data.data.aid }}</span>|
                       <span id="time">Loading</span>|
                       <span id="class">Loading</span>
                    </p>
                </header>
                <div class="flex flex-2">
                    <div class="col col1">
                        <table>
                            <thead>
                                <tr>
                                    <th>统计内容</th>
                                    <th>结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in data.data %}
                                <tr>
                                    <td>{% if key == "aid" %}av号
                                        {% elif key == "view" %}点击
                                        {% elif key == "danmaku" %}弹幕
                                        {% elif key == "reply" %}回复
                                        {% elif key == "favorite" %}收藏
                                        {% elif key == "coin" %}硬币
                                        {% elif key == "share" %}分享
                                        {% elif key == "now_rank" %}当前排名
                                        {% elif key == "his_rank" %}最高全站日排行
                                        {% elif key == "like" %}喜欢（啥？）
                                        {% elif key == "copyright" %}版权
                                        {% else %}{{key}}（还没查是啥）{% endif %}
                                    </td>
                                    <td>{% if key == "now_rank" %}
                                            {% if value == 0 %}无
                                            {% else %}{{value}}{% endif %}
                                        {% elif key == "copyright" %}
                                            {% if value == 0 %}禁止转载（我猜的）
                                            {% elif value == 1 %}未经作者授权 禁止转载
                                            {% elif value == 2 %}无
                                            {% else %}未知{% endif %}
                                        {% else %}{{value}}{% endif %}
                                    {{item}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col col2 first">
                        <span class="image right round fit" style="max-width:150px">
                            <img id="upAvatar" src="" alt>
                        </span>
                        <h4>UP主</h4>
                        <p>
                            <span id="upName">Loading...</span><br>
                            <span id="upSign">Loading...</span><br>
                        </p>
                            
                        <h4>简介</h4>
                        <blockquote id="description">Loading...</blockquote>
                        <h4>评论</h4>
                        <div id="comment">未完成……</div>
                    </div>
                </div>
            </div>
        </section>
        <textarea id="page" row="50" style="height:500px"></textarea>
    </div>

{% endblock %}
