{% extends "base.html" %}

{% block body %}

    <input type="hidden" id="aid" value="{{ stat.data.aid }}" />
    <input type="hidden" id="jijifail"
           value="{% if info and info.code == 0 %}0{% else %}1{% endif %}" />

    <!-- Main -->
    <div id="main">

        {% if errorCode or stat.code != 0 %}
        {% include "conn_fail.html" %}
        {% else %}
        <!-- Section -->
        <section class="wrapper">
            <div class="inner">
                <header class="align-center">
                    <h2 id="title">
                        {% if info and info.code == 0 %}{{ info.title }}
                        {% else %}从哔哩哔哩唧唧获取信息失败（连接失败或UP主禁止）……<br>正在从B站读取信息
                        {% endif %}
                    </h2>
                    <p id="subtitle">
                        <span>av{{ stat.data.aid }}</span> |
                        <span id="time">Loading</span> |
                        <span id="class">Loading</span>
                    </p>
                </header>
                <div class="flex flex-2">
                    <div class="col col1">
                        <table id="stat">
                            <thead>
                                <tr>
                                    <th>统计内容</th>
                                    <th>结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in stat.data %}
                                <tr>
                                    <td>{% if key == "aid" %}av号
                                        {% elif key == "view" %}点击
                                        {% elif key == "danmaku" %}弹幕
                                        {% elif key == "reply" %}回复
                                        {% elif key == "favorite" %}收藏
                                        {% elif key == "coin" %}硬币
                                        {% elif key == "share" %}分享
                                        {% elif key == "now_rank" %}当前排名
                                        {% elif key == "his_rank" %}最高全站日排行
                                        {% elif key == "like" %}推荐
                                        {% elif key == "no_reprint" %}未经授权禁止转载
                                        {% elif key == "copyright" %}版权
                                        {% else %}{{key}}（还没查是啥）{% endif %}
                                    </td>
                                    <td>{% if key == "now_rank" %}
                                            {% if value == 0 %}无
                                            {% else %}{{value}}{% endif %}
                                        {% elif key == "no_reprint" %}
                                            {% if value == 0 %}否
                                            {% elif value == 1 %}是
                                            {% else %}未知{% endif %}
                                        {% else %}{{value}}{% endif %}
                                    {{item}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col col2 first">
                        <span class="image right round fit"style="max-width:100px">
                            <img id="upAvatar" src="{{ info.upimg }}" alt="Loading">
                        </span>
                        <h4>UP主</h4>
                        <p>
                            <span id="upName">{{ info.up }}</span><br>
                            <span id="upSign">Loading...</span><br>
                        </p>

                        <span class="image right fit" style="max-width:200px; margin-left: 20px">
                            <img id="img" src="{{ info.img }}" alt="Loading">
                        </span>
                        <h4>简介</h4>
                        <blockquote id="description">{{ info.desc }}</blockquote>
                        {% if info.list.length > 1 %}
                        <h4>分P</h4>
                        <div id="list" style="overflow: auto">
                            <ol>
                                {% for item in info.list %}
                                <li>{{ item.Title }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper style1">
            <div class="inner" id="play">
                <h4>播放</h4>
                {% if info.list.length > 1 %}
                    <p>点击上方分P选择播放视频（Not implemented）</p>
                {% endif %}
                <iframe src="https://secure.bilibili.com/secure,cid={{ info.list[0].CID }}&aid={{ stat.data.aid }}"
                        width="100%" height="100%"></iframe>
            </div>
        </section>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
        </div>
    </footer>

{% endblock %}
